*,
html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Tajawal', sans-serif !important;
}

a {
    text-decoration: none !important;
    color: black !important
}

.menu-dashboard {
    background: #1D2362;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    height: 100%;
}

.menu-container {
    margin-top: 5%
}

.menu-link {
    width: 100%;
    text-align: left;
    padding: 15px;
    background: transparent;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
}

.menu-links {
    margin-top: 30px;
}

.dashboard-menu.active,
.add-admin-menu.active,
.add-new-card-menu.active,
.edit-hour-price-menu.active,
.latest-trans-menu.active,
.activities-menu.active,
.sessions-menu.active,
.card-verify-menu.active,
.add-hours-menu.active,
.attendance-menu.active {
    background: #4753d4;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px #111431;
}