*,
html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Tajawal', sans-serif !important;
}

a {
    text-decoration: none !important;
    color: black !important
}

.menu-dashboard {
    background: #1D2362;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    height: 100%;
}

.menu-container {
    margin-top: 5%
}

.menu-link {
    width: 100%;
    text-align: left;
    padding: 15px;
    background: transparent;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
}

.menu-links {
    margin-top: 30px;
}

.dashboard-menu.active,
.add-admin-menu.active,
.add-new-card-menu.active,
.attendance-schedule-menu.active,
.latest-trans-menu.active,
.activities-menu.active,
.sessions-menu.active,
.card-verify-menu.active,
.add-hours-menu.active,
.attendance-menu.active,
.accounting-menu.active {
    background: #4753d4;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px #111431;
}

.group {
    margin-bottom: 3%;
}

.group span {
    color: #cacaca;
    font-weight: bold;
}

.id-student {
    background: url('../IDs/id-student.svg') no-repeat;
    width: 500px;
    height: 100%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.id-employee {
    background: url('../IDs/id-employee.svg') no-repeat;
    width: 500px;
    height: 100%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.id-kidsarea {
    background: url('../IDs/id-kidsarea.svg') no-repeat;
    width: 500px;
    height: 100%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.back-id {
    background: url('../IDs/id-back.svg') no-repeat;
    width: 500px;
    height: 100%;
    background-size: cover;
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
}

.print {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f39207;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #f39207;
    border-radius: 5px;
    outline: none;
}

.pic-print {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    top: 80px;
    left: 155px;
}

@media print {
    .print {
        display: none;
    }
    .back-id {
        visibility: visible;
    }
    .id-student,
    .id-employee {
        width: 80% !important;
    }
    @page {
        margin: 5%;
    }
    .pic-print {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        position: relative;
        top: 170px;
        left: 215px;
    }
    .print-name,
    .print-code {
        top: 200px !important;
        left: 215px !important;
        font-size: 27px !important;
        display: block;
    }
}